<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XAssistant.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F7DA19681E8F017A00E5EE33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7DA197B1E8F017B00E5EE33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7DA19861E8F017B00E5EE33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
